    <%= stylesheet_link_tag("styleNGPLanding") %>
        <!--Mask-->
        <div id="intro" class="view mt-5">
            <div class="mask rgba-black-strong">
                <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-md-10">
                            <!-- Heading -->
                            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">All You Need to Get In Gear!</h2>
                            <!-- Divider -->
                            <hr class="hr-light">
                            <!-- Description -->
                            <h4 class="white-text my-4">Your One Stop Shop for Automatic Transmission, Standard Transmission, Transfer Case, and Differential Parts</h4>
                            <button type="button" class="btn btn-outline-white">Check Our Parts Selection<i class="fa fa-book ml-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Mask-->
    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main class="mt-5">
        <div class="container">
            <!--Section: Best Features-->
            <section id="best-features" class="text-center">
                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">Why We Are #1</h2>
                <!--Grid row-->
                <div class="row d-flex justify-content-center mb-4">
                    <!--Grid column-->
                    <div class="col-md-8">
                        <!-- Description -->
                        <p class="black-text">Unlike most online stores, at Nogalitos Gear Company you get assistance from our professionals who are experts in transmissions, transfer cases, and differentials. Skip ordering parts online and crossing your fingers for the right part to show up. Call today and talk to one of our expert professionals. </p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fa fa-street-view -retro fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Expert Professionals</h4>
                        <p class="black-text">Not everyone has the know-how to do repairs and upgrades. That's why our staff is full of experts to help you get the right parts for whatever your purpose.</p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-cogs fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Quality Parts</h4>
                        <p class="black-text">Nothing is worse than a bad part. We only use the good stuff and we back them up with warranties in the rare case they go bad.</p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-money fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Fair Prices</h4>
                        <p class="black-text">Quality parts aren't as 'quality' if they cost an arm and a leg. Our awesome supplier relationships allows us to get you a solid deal.</p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Best Features-->
            <hr class="my-5">
            <!--Section: Examples-->
            <section id="examples" class="text-center">
                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">Parts Categories</h2>
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://s3.amazonaws.com/pics-ngparts-bucket/automatictranswelcome.jpg" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        <h4 class="my-4 font-weight-bold">Automatic Transmission</h4>
                        <p class="black-text">Torque converters, flywheels, kits, hard parts, and more.</p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://s3.amazonaws.com/pics-ngparts-bucket/transparent_standardtrans.png" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        <h4 class="my-4 font-weight-bold">Standard Transmission</h4>
                        <p class="black-text">Standard clutch kits, gears, services and repairs.</p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://s3.amazonaws.com/pics-ngparts-bucket/diff_transparent.jpg" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        <h4 class="my-4 font-weight-bold">Differential</h4>
                        <p class="black-text">Ring and pinion sets, and bearing kits.</p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://s3.amazonaws.com/pics-ngparts-bucket/tranfercase.jpg" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        <h4 class="my-4 font-weight-bold">Transfer Case</h4>
                        <p class="black-text">Transfer case parts, services and repairs .</p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://s3.amazonaws.com/pics-ngparts-bucket/dragster.JPG" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        <h4 class="my-4 font-weight-bold">Performance</h4>
                        <p class="black-text">Transmission brakes, Billet shafts, Stall speed converters and more.</p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://s3.amazonaws.com/pics-ngparts-bucket/hotflushwasher.jpg" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        <h4 class="my-4 font-weight-bold">Tools & Equipment</h4>
                        <p class="black-text">We carry many brands such as Adapt-A-Case, All Trans, Speciality Tools and more.</p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Examples-->
            <hr class="my-5">
            <!--Section: Gallery-->
            <section id="gallery">
                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold text-center">Our Suppliers</h2>
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <!--Carousel Wrapper-->
                        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner z-depth-1-half" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="https://s3.amazonaws.com/pics-ngparts-bucket/Yukon-Logo.jpg" alt="First slide">
                                </div>
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="https://s3.amazonaws.com/pics-ngparts-bucket/precision_new_hampton_logo.png" alt="Second slide">
                                </div>
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="https://s3.amazonaws.com/pics-ngparts-bucket/RaybestosFrictionClutchPlates.jpg" alt="Third slide">
                                </div>
                                <!--/Third slide-->
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6">
                        <!--Excerpt-->
                        <a href="" class="teal-text">
                            <h6 class="pb-1">
                                <i class="fa fa-heart"></i>
                                <strong> Lifestyle </strong>
                            </h6>
                        </a>
                        <h4 class="mb-3">
                            <strong>Our Suppliers</strong>
                        </h4>
                        <p>Yukon is the number one leader in differential parts!</p>
                        <p>Precision of New Hampton is in our oppinon the best tourqe converters you can get!.</p>
                        <p>Raybestos by far have the best powertrain products in the industry!</p>
                        <a class="btn btn-primary btn-md">Read more</a>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Gallery-->
            

